* {
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-family: Sans-serif;
}

body {
    font-size: 14pt;
    display: flex;
    flex-direction:column;
    max-height:100vh;
}

div#patterns {
    flex-shrink:1;
    overflow:auto;
}

div.sequencer {
    box-shadow: 0px -5px 5px #4CAF50;
    padding-left: 1em;
    padding-right: 1em;
    background:white;
    width:100%;
    flex:none;
}


.drum-line {
    display: inline-flex;
    flex-wrap: wrap;
    border-left: 1px black solid;
}

.drum-line .beat {
    border-right: 1px black solid;
    display: inline-flex;
    width: 8em;
}

.drum-line .beat.extended {
    color: grey;
    background: #f8f8f8;
}

.drum-line .beat .note {
    /* flex-grow: 1; */
    /* flex-basis: 1em; */
    text-align: left;
    margin-left:0;
    transition-duration:0.2s;
    cursor:default;
}

.drum-line .beat .note:hover {
    background: gold;
}

.pattern-header {
    width: 7em;
    flex-grow : 0;
    flex-shrink: 0;
    display:flex;
}

.pattern-header b {

}

.pattern-container:first-child {
    border-top: 1px #eee solid;
}

.pattern-container {
    display: flex;
    border-bottom: 1px #eee solid;
}

.switches {
    flex-grow:0;
    margin-left:auto;
    margin-right:2px;
}

.switches .switch:first-child {
    border-left:1px black solid;
}

.switches .switch:last-child {
    border-right:1px black solid;
}

.switches .switch {
    border-top:1px black solid;
    border-bottom:1px black solid;
}

.switches .switch.selected {
    background:grey;
    color:white;
}

div.box {
    margin-bottom: 2em;
    padding:0.5em;
    box-shadow: 0px 5px 5px #ddd;

    max-width:46em;
    margin-left:auto;
    margin-right:auto;
}

div.box h1 {
    border-bottom:1px #eee solid;
}

div.box p {
    margin-top:0.5em;
    text-justify: inter-word;
    text-align: justify;
}

dd {
    font-weight:bold;
}
dt {
    margin-left: 1em;
}

.spinner {
    border-radius: 50%;
    border-top: 6px solid gold;
    border-bottom: 6px solid #4CAF50;
    width: 4em;
    height: 4em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

button.cue {
    border-radius: 2px;
    background-color: white;
    border: 3px #4CAF50 solid;
    color: black;
    margin-top:0.5em;
    padding: 0.5em 2em;
    font-size: 0.8em;
    transition-duration: 0.1s;
    margin-left:auto;
    font-variant: small-caps;
}

button.cue:hover {
    background-color: #4CAF50;
    color: white;
    box-shadow: 3px 3px #aaa;
}

button.cue:active {
    box-shadow: 2px 2px #aaa;
    transform: translate(2px, 2px);
}

div.break-unit:not(:last-child) {
    margin-bottom: 1em;
}

div.break-unit:nth-child(2n) {
    border-right: 3px #fe2 solid;
}

div.break-unit:nth-child(2n+1) {
    border-right: 3px #4CAF50 solid;
}

span.mutes {
    display: flex;
    flex-wrap:wrap;
}

button.muter .light {
    width:8px;
    height:8px;
    border:1px #aaa solid;
    display:inline-block;
    border-radius:50%;
    margin-right: 1em;
    transition-duration: 0.1s;
}

button.muter.flash .light {
    background: red;

}

button.muter {
    width:24%;
    flex-grow:1;
    padding:0;
    font-size: 0.75em;
    margin-right:0.1em;
}

button.muter.normal {
    border-color: #4CAF50;
}

button.muter.mute {
    border-color: #ffb6c1;
}

button.muter.accent {
    border-color: gold;
}

button.muter.normal:hover {
    background: #4CAF50;
}

button.muter.mute:hover {
    background: #ffb6c1;
}

button.muter.accent:hover {
    background: gold;
}

div.break {
    margin-top:1em;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 4.35px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3.3px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #c0c0c5;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.6px 0.6px 1px #000000, 0px 0px 0.6px #0d0d0d;
  border: 1px solid rgba(0, 0, 0, 0.62);
  height: 12px;
  width: 11px;
  border-radius: 24px;
  background: #67d46b;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.55px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #cdcdd1;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 3.3px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #c0c0c5;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.6px 0.6px 1px #000000, 0px 0px 0.6px #0d0d0d;
  border: 1px solid rgba(0, 0, 0, 0.62);
  height: 12px;
  width: 11px;
  border-radius: 24px;
  background: #67d46b;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 3.3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #b3b3b9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #c0c0c5;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0.6px 0.6px 1px #000000, 0px 0px 0.6px #0d0d0d;
  border: 1px solid rgba(0, 0, 0, 0.62);
  height: 12px;
  width: 11px;
  border-radius: 24px;
  background: #67d46b;
  cursor: pointer;
  height: 3.3px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #c0c0c5;
}
input[type=range]:focus::-ms-fill-upper {
  background: #cdcdd1;
}
